
function Bat.new 0
push constant 29
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 24
push argument 1
pop this 25
push argument 2
pop this 26
push argument 3
pop this 27
push constant 2
pop this 28
push pointer 0
call Bat.show 1
pop temp 0
push pointer 0
return
function Bat.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Bat.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Bat.draw 1
pop temp 0
push constant 0
return
function Bat.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Bat.draw 1
pop temp 0
push constant 0
return
function Bat.draw 0
push argument 0
pop pointer 0
push this 24
push this 25
push this 24
push this 26
add
push this 25
push this 27
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Bat.setDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 28
push constant 0
return
function Bat.getLeft 0
push argument 0
pop pointer 0
push this 24
return
function Bat.getRight 0
push argument 0
pop pointer 0
push this 24
push this 26
add
return
function Bat.setWidth 0
push argument 0
pop pointer 0
push pointer 0
call Bat.hide 1
pop temp 0
push argument 1
pop this 26
push pointer 0
call Bat.show 1
pop temp 0
push constant 0
return
function Bat.move 0
push argument 0
pop pointer 0
push this 28
push constant 1
eq
not
if-goto Bat_IF_67
push this 24
push constant 4
sub
pop this 24
push this 24
push constant 0
lt
not
if-goto Bat_IF_68
push constant 0
pop this 24
label Bat_IF_68
push constant 0
call Screen.setColor 1
pop temp 0
push this 24
push this 26
add
push constant 1
add
push this 25
push this 24
push this 26
add
push constant 4
add
push this 25
push this 27
add
call Screen.drawRectangle 4
pop temp 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push this 24
push this 25
push this 24
push constant 3
add
push this 25
push this 27
add
call Screen.drawRectangle 4
pop temp 0
goto Bat_ELSE_44
label Bat_IF_67
push this 24
push constant 4
add
pop this 24
push this 24
push this 26
add
push constant 511
gt
not
if-goto Bat_IF_69
push constant 511
push this 26
sub
pop this 24
label Bat_IF_69
push constant 0
call Screen.setColor 1
pop temp 0
push this 24
push constant 4
sub
push this 25
push this 24
push constant 1
sub
push this 25
push this 27
add
call Screen.drawRectangle 4
pop temp 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push this 24
push this 26
add
push constant 3
sub
push this 25
push this 24
push this 26
add
push this 25
push this 27
add
call Screen.drawRectangle 4
pop temp 0
label Bat_ELSE_44
push constant 0
return