
function Main.main 2
push constant 990
push constant 9
add
pop local 0
push constant 5000
push local 0
call Memory.poke 2
pop temp 0
push constant 100
call Memory.alloc 1
pop local 1
push constant 5001
push local 1
call Memory.poke 2
pop temp 0
push constant 0
return