function SnakeGame.new 0
    push constant 9
    call Memory.alloc 1
    pop pointer 0
    push constant 100
    pop this 6
    push constant 1
    pop this 1
    push constant 132
    pop this 8
    push constant 0
    pop this 3
    push constant 5
    pop this 4
    push constant 999
    pop this 5
    push constant 1783
    call Random.init 1
    pop temp 0
    call Snake.new 0
    pop this 0
    push constant 76
    push constant 0
    push constant 76
    push constant 256
    call Screen.drawLine 4
    pop temp 0
    push constant 6
    call String.new 1
    push constant 83
    call String.appendChar 2
    push constant 67
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 1
    push constant 1
    push constant 0
    call Debug.debug 4
    pop temp 0
    push this 3
    push constant 3
    push constant 1
    push constant 0
    call Debug.debugInt 4
    pop temp 0
    push constant 6
    call String.new 1
    push constant 83
    call String.appendChar 2
    push constant 80
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 68
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 5
    push constant 1
    push constant 0
    call Debug.debug 4
    pop temp 0
    push this 6
    push constant 7
    push constant 1
    push constant 0
    call Debug.debugInt 4
    pop temp 0
    push pointer 0
    return
function SnakeGame.drawSnake 3
    push argument 0
    pop pointer 0
    push this 0
    push constant 0
    call Snake.getSnakePart 2
    pop local 1
    push local 1
    call SnakeGame.erase 1
    pop temp 0
    push this 0
    push this 0
    call Snake.getCurrentIndex 1
    push constant 1
    sub
    call Snake.getSnakePart 2
    pop local 2
    push static 0
    push local 2
    call SnakeGame.calcNextAddress 2
    pop local 0
    push local 0
    push constant 0
    gt
    not
    if-goto SnakeGame_1
    push local 0
    call SnakeGame.draw 1
    pop temp 0
    push this 0
    push constant 0
    push local 0
    call Snake.updateSnake 3
    pop temp 0
    push this 0
    call Snake.getSnakeBody 1
    push this 0
    call Snake.getCurrentIndex 1
    call SnakeGame.shiftLeft 2
    pop temp 0
    goto SnakeGame_0
label SnakeGame_1
    push constant 1
    neg
    pop this 1
label SnakeGame_0
    push constant 0
    return
function SnakeGame.initializeNewSnakePart 0
    push argument 0
    pop pointer 0
    push this 0
    push argument 1
    call Snake.increaseSnake 2
    pop temp 0
    push argument 1
    call SnakeGame.draw 1
    pop temp 0
    push constant 0
    return
function SnakeGame.calcNextAddress 6
    push argument 0
    pop pointer 0
    push this 8
    push constant 130
    eq
    not
    if-goto SnakeGame_3
    push argument 1
    push constant 1
    sub
    pop local 1
    goto SnakeGame_2
label SnakeGame_3
label SnakeGame_2
    push this 8
    push constant 131
    eq
    not
    if-goto SnakeGame_5
    push argument 1
    push constant 32
    push constant 16
    call Math.multiply 2
    sub
    pop local 1
    goto SnakeGame_4
label SnakeGame_5
label SnakeGame_4
    push this 8
    push constant 132
    eq
    not
    if-goto SnakeGame_7
    push argument 1
    push constant 1
    add
    pop local 1
    goto SnakeGame_6
label SnakeGame_7
label SnakeGame_6
    push this 8
    push constant 133
    eq
    not
    if-goto SnakeGame_9
    push argument 1
    push constant 32
    push constant 16
    call Math.multiply 2
    add
    pop local 1
    goto SnakeGame_8
label SnakeGame_9
label SnakeGame_8
    push local 1
    push constant 1
    neg
    lt
    not
    if-goto SnakeGame_11
    push argument 1
    push constant 32
    push constant 15
    call Math.multiply 2
    push constant 16
    call Math.multiply 2
    add
    pop local 1
    goto SnakeGame_10
label SnakeGame_11
label SnakeGame_10
    push local 1
    push constant 7712
    gt
    not
    if-goto SnakeGame_13
    push argument 1
    push constant 32
    push constant 15
    call Math.multiply 2
    push constant 16
    call Math.multiply 2
    sub
    pop local 1
    goto SnakeGame_12
label SnakeGame_13
label SnakeGame_12
    push local 1
    push constant 32
    eq
    push local 1
    push constant 544
    eq
    or
    push local 1
    push constant 1056
    eq
    or
    push local 1
    push constant 1568
    eq
    or
    push local 1
    push constant 2080
    eq
    or
    push local 1
    push constant 2592
    eq
    or
    push local 1
    push constant 3104
    eq
    or
    push local 1
    push constant 3616
    eq
    or
    push local 1
    push constant 4128
    eq
    or
    push local 1
    push constant 4640
    eq
    or
    push local 1
    push constant 5152
    eq
    or
    push local 1
    push constant 5664
    eq
    or
    push local 1
    push constant 6176
    eq
    or
    push local 1
    push constant 6688
    eq
    or
    push local 1
    push constant 7200
    eq
    or
    push local 1
    push constant 7712
    eq
    or
    not
    if-goto SnakeGame_15
    push argument 1
    push constant 31
    push this 4
    sub
    sub
    pop local 1
    goto SnakeGame_14
label SnakeGame_15
label SnakeGame_14
    push local 1
    push constant 1
    neg
    push this 4
    add
    eq
    push local 1
    push constant 511
    push this 4
    add
    eq
    or
    push local 1
    push constant 1023
    push this 4
    add
    eq
    or
    push local 1
    push constant 1535
    push this 4
    add
    eq
    or
    push local 1
    push constant 2047
    push this 4
    add
    eq
    or
    push local 1
    push constant 2559
    push this 4
    add
    eq
    or
    push local 1
    push constant 3071
    push this 4
    add
    eq
    or
    push local 1
    push constant 3583
    push this 4
    add
    eq
    or
    push local 1
    push constant 4095
    push this 4
    add
    eq
    or
    push local 1
    push constant 4607
    push this 4
    add
    eq
    or
    push local 1
    push constant 5119
    push this 4
    add
    eq
    or
    push local 1
    push constant 5631
    push this 4
    add
    eq
    or
    push local 1
    push constant 6143
    push this 4
    add
    eq
    or
    push local 1
    push constant 6655
    push this 4
    add
    eq
    or
    push local 1
    push constant 7167
    push this 4
    add
    eq
    or
    push local 1
    push constant 7679
    push this 4
    add
    eq
    or
    not
    if-goto SnakeGame_17
    push argument 1
    push constant 31
    push this 4
    sub
    add
    pop local 1
    goto SnakeGame_16
label SnakeGame_17
label SnakeGame_16
    push local 1
    push this 2
    eq
    not
    if-goto SnakeGame_19
    push static 0
    push local 1
    call SnakeGame.initializeNewSnakePart 2
    pop temp 0
    push this 5
    push this 7
    push constant 80
    call Random.next 3
    pop this 2
    push static 0
    push this 2
    call SnakeGame.generateFoodPosition 2
    pop temp 0
    push this 3
    push constant 1
    add
    pop this 3
    push this 3
    push constant 3
    push constant 1
    push constant 0
    call Debug.debugInt 4
    pop temp 0
    push this 6
    push constant 1
    sub
    pop this 6
    push this 6
    push constant 7
    push constant 1
    push constant 0
    call Debug.debugInt 4
    pop temp 0
    push static 0
    push local 1
    call SnakeGame.calcNextAddress 2
    return
    goto SnakeGame_18
label SnakeGame_19
    push this 0
    call Snake.getCurrentIndex 1
    push constant 1
    sub
    pop local 4
    push constant 0
    pop local 3
label SnakeGame_20
    push local 3
    push local 4
    lt
    not
    if-goto SnakeGame_21
    push this 0
    push local 3
    call Snake.getSnakePart 2
    pop local 5
    push local 1
    push local 5
    eq
    not
    if-goto SnakeGame_23
    push constant 1
    neg
    pop local 0
    push local 4
    pop local 3
    goto SnakeGame_22
label SnakeGame_23
    push local 3
    push constant 1
    add
    pop local 3
label SnakeGame_22
    goto SnakeGame_20
label SnakeGame_21
    push local 0
    push constant 1
    neg
    eq
    not
    if-goto SnakeGame_25
    push constant 1
    neg
    return
    goto SnakeGame_24
label SnakeGame_25
    push local 1
    return
label SnakeGame_24
label SnakeGame_18
function SnakeGame.gameLoop 1
    push argument 0
    pop pointer 0
label SnakeGame_26
    push this 1
    push constant 0
    gt
    not
    if-goto SnakeGame_27
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 0
    eq
    not
    not
    if-goto SnakeGame_29
    push local 0
    push constant 130
    eq
    push this 8
    push constant 132
    eq
    not
    and
    not
    if-goto SnakeGame_31
    push local 0
    pop this 8
    goto SnakeGame_30
label SnakeGame_31
label SnakeGame_30
    push local 0
    push constant 131
    eq
    push this 8
    push constant 133
    eq
    not
    and
    not
    if-goto SnakeGame_33
    push local 0
    pop this 8
    goto SnakeGame_32
label SnakeGame_33
label SnakeGame_32
    push local 0
    push constant 132
    eq
    push this 8
    push constant 130
    eq
    not
    and
    not
    if-goto SnakeGame_35
    push local 0
    pop this 8
    goto SnakeGame_34
label SnakeGame_35
label SnakeGame_34
    push local 0
    push constant 133
    eq
    push this 8
    push constant 131
    eq
    not
    and
    not
    if-goto SnakeGame_37
    push local 0
    pop this 8
    goto SnakeGame_36
label SnakeGame_37
label SnakeGame_36
    push this 5
    push local 0
    add
    pop this 5
    goto SnakeGame_28
label SnakeGame_29
    push this 5
    push constant 1
    add
    pop this 5
label SnakeGame_28
    push this 5
    push constant 9999
    gt
    not
    if-goto SnakeGame_39
    push local 0
    pop this 5
    goto SnakeGame_38
label SnakeGame_39
label SnakeGame_38
    push static 0
    call SnakeGame.drawSnake 1
    pop temp 0
    push this 6
    call Sys.wait 1
    pop temp 0
    goto SnakeGame_26
label SnakeGame_27
    push constant 4
    call String.new 1
    push constant 71
    call String.appendChar 2
    push constant 65
    call String.appendChar 2
    push constant 77
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 10
    push constant 30
    push constant 0
    call Debug.debug 4
    pop temp 0
    push constant 4
    call String.new 1
    push constant 79
    call String.appendChar 2
    push constant 86
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 82
    call String.appendChar 2
    push constant 13
    push constant 30
    push constant 0
    call Debug.debug 4
    pop temp 0
    push constant 0
    return
function SnakeGame.draw 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 16383
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 8193
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16383
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function SnakeGame.erase 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function SnakeGame.generateOutOfBoundsBlocks 3
    push argument 0
    pop pointer 0
    push this 4
    push constant 16
    call Math.multiply 2
    call Array.new 1
    pop this 7
    push constant 0
    pop local 0
    push constant 0
    pop local 1
    push constant 0
    pop local 2
label SnakeGame_40
    push local 0
    push constant 16
    lt
    not
    if-goto SnakeGame_41
label SnakeGame_42
    push local 1
    push this 4
    lt
    not
    if-goto SnakeGame_43
    push local 2
    push this 7
    add
    push local 1
    push constant 32
    push local 0
    call Math.multiply 2
    add
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push constant 1
    add
    pop local 1
    push local 2
    push constant 1
    add
    pop local 2
    goto SnakeGame_42
label SnakeGame_43
    push constant 0
    pop local 1
    push local 0
    push constant 1
    add
    pop local 0
    goto SnakeGame_40
label SnakeGame_41
    push constant 0
    return
function SnakeGame.shiftLeft 3
    push constant 0
    push argument 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 0
    push argument 1
    push constant 1
    sub
    pop local 1
label SnakeGame_44
    push local 0
    push local 1
    lt
    not
    if-goto SnakeGame_45
    push local 0
    push argument 0
    add
    push local 0
    push constant 1
    add
    push argument 0
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto SnakeGame_44
label SnakeGame_45
    push argument 1
    push constant 1
    sub
    push argument 0
    add
    push local 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function SnakeGame.createNewGame 0
    call SnakeGame.new 0
    pop static 0
    push static 0
    call SnakeGame.generateOutOfBoundsBlocks 1
    pop temp 0
    push static 0
    push constant 5
    call SnakeGame.initializeNewSnakePart 2
    pop temp 0
    push static 0
    push constant 6
    call SnakeGame.initializeNewSnakePart 2
    pop temp 0
    push static 0
    push constant 7
    call SnakeGame.initializeNewSnakePart 2
    pop temp 0
    push static 0
    push constant 500
    call SnakeGame.generateFoodPosition 2
    pop temp 0
    push static 0
    call SnakeGame.gameLoop 1
    pop temp 0
    push constant 0
    return
function SnakeGame.generateFoodPosition 8
    push argument 0
    pop pointer 0
    push argument 1
    push constant 32
    call Math.divide 2
    pop local 4
    push argument 1
    push constant 32
    call SnakeGame.mod 2
    pop local 5
    push local 4
    push constant 32
    call Math.multiply 2
    push constant 16
    call Math.multiply 2
    push local 5
    add
    pop local 6
    push constant 0
    pop local 3
    push this 0
    call Snake.getCurrentIndex 1
    push constant 1
    sub
    pop local 7
    push this 0
    call Snake.getSnakeBody 1
    pop local 0
label SnakeGame_46
    push local 3
    push local 7
    lt
    not
    if-goto SnakeGame_47
    push local 3
    push local 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push local 2
    push local 6
    eq
    not
    if-goto SnakeGame_49
    push constant 1
    neg
    pop local 1
    push local 7
    pop local 3
    goto SnakeGame_48
label SnakeGame_49
    push local 3
    push constant 1
    add
    pop local 3
label SnakeGame_48
    goto SnakeGame_46
label SnakeGame_47
    push local 1
    push constant 1
    neg
    eq
    not
    if-goto SnakeGame_51
    push static 0
    push this 5
    push this 7
    push constant 80
    call Random.next 3
    call SnakeGame.generateFoodPosition 2
    pop temp 0
    goto SnakeGame_50
label SnakeGame_51
    push local 6
    pop this 2
    push this 2
    call SnakeGame.draw 1
    pop temp 0
label SnakeGame_50
    push constant 0
    return
function SnakeGame.mod 1
    push argument 0
    push argument 1
    call Math.divide 2
    pop local 0
    push argument 0
    push local 0
    push argument 1
    call Math.multiply 2
    sub
    return
function SnakeGame.getCurrentGame 0
    push static 0
    return
function SnakeGame.dispose 0
    push argument 0
    pop pointer 0
    push this 7
    call Array.dispose 1
    pop temp 0
    push this 0
    call Snake.dispose 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return