
function Keyboard.init 0
push constant 24576
pop static 0
push constant 0
return
function Keyboard.keyPressed 0
push static 0
push constant 0
add
pop pointer 1
push that 0
return
function Keyboard.readChar 1
push constant 0
call Output.printChar 1
pop temp 0
label Keyboard_WHILE_14
call Keyboard.keyPressed 0
push constant 0
eq
not
if-goto Keyboard_WHILE_14_END
goto Keyboard_WHILE_14
label Keyboard_WHILE_14_END
call Keyboard.keyPressed 0
pop static 1
label Keyboard_WHILE_15
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto Keyboard_WHILE_15_END
goto Keyboard_WHILE_15
label Keyboard_WHILE_15_END
push static 1
pop local 0
call Output.backSpace 0
pop temp 0
push local 0
call Output.printChar 1
pop temp 0
push local 0
return
function Keyboard.readLine 2
push argument 0
call String.length 1
push constant 0
gt
not
if-goto Keyboard_IF_22
push argument 0
call Output.printString 1
pop temp 0
label Keyboard_IF_22
push constant 200
call String.new 1
pop local 1
label Keyboard_WHILE_16
push constant 1
neg
not
if-goto Keyboard_WHILE_16_END
call Keyboard.readChar 0
pop local 0
push local 0
push constant 128
eq
push local 0
push constant 129
eq
or
not
if-goto Keyboard_IF_23
push local 0
push constant 128
eq
not
if-goto Keyboard_IF_24
call Output.println 0
pop temp 0
push local 1
return
goto Keyboard_ELSE_18
label Keyboard_IF_24
push local 1
call String.eraseLastChar 1
pop temp 0
call Output.backSpace 0
pop temp 0
label Keyboard_ELSE_18
goto Keyboard_ELSE_19
label Keyboard_IF_23
push local 1
push local 0
call String.appendChar 2
pop local 1
label Keyboard_ELSE_19
goto Keyboard_WHILE_16
label Keyboard_WHILE_16_END
push local 1
return
function Keyboard.readInt 1
push argument 0
call Keyboard.readLine 1
pop local 0
push local 0
call String.intValue 1
return